<div class="bank-row">
    <div class="currency-display" style="color: yellow">
        <i class="fa-solid fa-coins"></i>
        <p style="margin: 0">1</p>
    </div>
    <div class="currency-display">
        <i class="fa-solid fa-coins"></i>
        <p style="margin: 0">10</p>
    </div>
    <div class="currency-display" style="color: sandybrown">
        <i class="fa-solid fa-coins"></i>
        <p style="margin: 0">100</p>
    </div>
</div>