<div class="game-table">
    <div>
        <div class="dice-container">
            <div class="dice-text-root">
                <p style="font-family: Signika, sans-serif;">5</p>
            </div>
            <i class="fas fa-dice-d10 dice-icon"></i>
        </div>
    </div>
    <div>
        <div class="dice-container">
            <div class="dice-text-root">
                <p style="font-family: Signika, sans-serif;">7</p>
            </div>
            <i class="fas fa-dice-d10 dice-icon"></i>
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: row; gap: 15px; font-size: 1rem">
    <button>Roll</button>
    <button>Pass</button>
</div>