<div class="game-table">
    <div class="form-group">
        <label style="flex: 0.5">Bid (G/S/C)</label>
        <div class="initial-bank-container" style="flex: 1; display: flex">
            <input id="gold-input" type="number" placeholder="Gold" value="0"/>
            <input id="silver-input" type="number" placeholder="Silver" value="0"/>
            <input id="copper-input" type="number" placeholder="Copper" value="0"/>
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: row; gap: 15px; font-size: 1rem">
    <button>Place a Bid</button>
</div>