<div class="root">
    <div class="players-table-container">
    <table style="border-spacing: 5px; border-collapse: separate">
        <thead>
        <tr>
            <th style="width: 100%">Name</th>
            <th style="width: 75px">Order</th>
            <th style="width: 75px">Settings</th>
        </tr>
        </thead>
        <tbody id="actorList">
        {{#each playersSettings as |playerSettings index|}}
            <tr data-index="{{index}}" data-id="{{playerSettings.actor.id}}">
                <td>{{playerSettings.actor.name}}</td>
                <td>
                    <div class="move-btn-container">
                        <button class="actor-btn-up move-btn"><i class="fas fa-arrow-up"></i></button>
                        <button class="actor-btn-down move-btn"><i class="fas fa-arrow-down"></i></button>
                    </div>
                </td>
                <td>
                    <div class="move-btn-container">
                        <button class="actor-btn-settings move-btn"><i class="fas fa-gear"></i></button>
                        <button class="actor-btn-remove move-btn"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<button class="button">Start</button>
</div>