<div class="container">
    <aside class="sidebar">
        <h2>Bank</h2>
        {{> modules/dices-and-cards-wfrp4/templates/games/simple-dice-game-components/simple-dice-game-money-display.hbs}}
        <h2 style="margin-top: 10px">Information</h2>
        <div class="info-row">
            <div class="target-display">
                <i class="fas fa-bullseye-arrow"></i>
                <p style="margin: 0">13</p>
            </div>
        </div>
        <h2 style="margin-top: 10px">Players</h2>
        <div class="players-list">
            <ul>
                {{#each actors as |actor index|}}
                    <li>
                        <div class="player-card">
                            <img title="{{actor.name}}" src="{{actor.img}}" alt="{{actor.name}}">
                            <div>
                                <div class="name">{{#if ../isGM}}<a style="display: inline-block; margin-right: 5px; padding: 0" class="fas fa-gear settings-link"></a> {{/if}}{{actor.name}}</div>
                                <div class="status">In-game</div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </aside>
    <main class="main-content">
        <h2>Game Table</h2>
        {{> modules/dices-and-cards-wfrp4/templates/games/simple-dice-game-components/simple-dice-game-bid-table.hbs}}
    </main>
</div>